body{
    display: flex;
    background-color: hsl(212, 45%, 89%);
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;       
}
img{
    border-radius: 15px;
    height: auto;
    width: 400px;
}
div.main{
    background-color: white;
    border-radius: 15px;
    text-align: center;
    font-family: outfit;
    padding: 12px 15px;
}
p{
    font-size: 20px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
h1{
    font-weight: 700;
}